@media (min-width: 990px) {
  .main-nav {
    margin-left: 140px;
    margin-right: 140px;
    padding-bottom: 20px;
  }
}

.nav-container {
  background-color: #007bff;
  box-shadow: 3px 3px 3px rgba(110, 110, 110, 0.466);
  
}

.iconColor{
  color:gray!important;
}

@media(max-width:500px){
  .nav-container{
    background-color:rgba(255, 255, 255, 0)
  }
  .iconColor{
    color:white!important;
  }
}
