@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap");
.home-container {
  min-height: 800px;
  /* background-color:#B5EAF8; */
  font-family: "Poppins", sans-serif;
   
}
.Search{
  position: relative;
  top: 20px;
}
 
.go-card {
  box-shadow: 1px 1px 1px 2px rgb(176, 173, 177);
 
} 



.shadowSlider{
  box-shadow: 2px 2px 2px 3px rgba(133, 121, 133, 0.431);
}


@media(min-width:990px){
  
  .slider-img{
    width:50%;
  }
}

.home-spinner{
 position: relative;
 top:200px;
}